header {
    background-color: #00073d;
    border-top: 0.75rem solid #b30f13;
}

.social_media {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

svg {
    background-color: white;
    border-radius: 20px;
    color: #00073d;
    padding: 2px;
}